.place__title {
  font-weight: 900;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .place__title {
    font-size: calc(2rem + ((1vw - 3.2px) * 2.2321));
    line-height: calc(2.1875rem + ((1vw - 3.2px) * 2.4554));
    margin: 0 auto;
    width: 90%;
  }
}
@media screen and (min-width: 768px) {
  .place__title {
    font-size: calc(2.625rem + ((1vw - 7.68px) * 11.7188));
    line-height: calc(2.875rem + ((1vw - 7.68px) * 11.7188));
    margin: 0;
    width: 97%;
  }
}

@media screen and (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}