.places {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .places {
    /*Плавное увеличение верхнего отступа. C 64px до 88px при ширине экрана от 320px до 768px*/
    padding-top: calc(4rem + ((1vw - 3.2px) * 5.3571));
    /*Плавное увеличение максимальной ширины. C 320px до 720px при ширине экрана от 320px до 768px*/
    max-width: calc(20rem + ((1vw - 3.2px) * 89.2857));
  }
}
@media screen and (min-width: 768px) {
  .places {
    /*Плавное увеличение верхнего отступа. C 88px до 92px при ширине экрана от 768px до 1024px*/
    padding-top: calc(5.5rem + ((1vw - 7.68px) * 1.5625));
    /*Плавное увеличение максимальной ширины. C 720px до 928px при ширине экрана от 768px до 1024px*/
    max-width: calc(45rem + ((1vw - 7.68px) * 81.25));
  }
}

@media screen and (min-width: 1024px) {
  .places {
    /*Плавное уменьшение верхнего отступа. C 92px до 87px при ширине экрана от 1024px до 1280px*/
    padding-top: calc(5.75rem + ((1vw - 10.24px) * -1.9531));
    /*Плавное увеличение максимальной ширины. C 928px до 984px при ширине экрана от 1024px до 1280px*/
    max-width: calc(58rem + ((1vw - 10.24px) * 21.875));
  }
}
@media screen and (min-width: 1280px) {
  .places {
    padding-top: 87px;
    max-width: 984px;
  }
}