.cover__subtitle {
  text-align: center;
  color: #fff;
  min-height: 0vw;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 320px) {
  .cover__subtitle {
    /*Плавное увеличение размера шрифта. C 14px до 18px при ширине экрана от 320px до 768px*/
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.8929));
    /*Плавное увеличение высоты линии. C 16px до 22px при ширине экрана от 320px до 768px*/
    line-height: calc(1rem + ((1vw - 3.2px) * 1.3393));
    /*Плавное увеличение верхнего отступа. C 16px до 32px при ширине экрана от 320px до 768px*/
    margin-top: calc(1rem + ((1vw - 3.2px) * 3.5714));
    /*Плавное увеличение нижнего отступа. C 33px до 115px при ширине экрана от 320px до 768px*/
    margin-bottom: calc(2.0625rem + ((1vw - 3.2px) * 18.3036));
    /*Плавное увеличение максимальной ширины. C 288px до 360px при ширине экрана от 320px до 768px*/
    max-width: calc(18rem + ((1vw - 3.2px) * 16.0714));
  }
}

@media screen and (min-width: 768px) {
  .cover__subtitle {
    font-size: 18px;
    line-height: 22px;
    margin-top: 32px;
    /*Плавное увеличение нижнего отступа. C 360px до 195px при ширине экрана от 768px до 1024px*/
    margin-bottom: calc(7.1875rem + ((1vw - 7.68px) * 31.25));
    max-width: 360px;
  }
}

@media screen and (min-width: 1024px) {
  .cover__subtitle {
    /*Плавное увеличение нижнего отступа. C 195px до 245px при ширине экрана от 1024px до 1280px*/
    margin-bottom: calc(12.1875rem + ((1vw - 10.24px) * 19.5313));
  }
}

@media screen and (min-width: 1280px) {
  .cover__subtitle {
    margin-bottom: 245px;
  }
}