@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);
@import url(./__list/header__list.css);
@import url(./__list-item/header__list-item.css);

.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1184px;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .header {
    /*Плавное увеличение левого отступа. C 16px до 24px при ширине экрана от 320px до 768px*/
    padding-left: calc(1rem + ((1vw - 3.2px) * 1.7857));
    /*Плавное увеличение правого отступа. C 16px до 24px при ширине экрана от 320px до 768px*/
    padding-right: calc(1rem + ((1vw - 3.2px) * 1.7857));
    /*Плавное увеличение верхнего отступа. C 16px до 28px при ширине экрана от 320px до 768px*/
    padding-top: calc(1rem + ((1vw - 3.2px) * 2.6786));
  }
}

@media screen and (min-width: 768px) {
  .header {
    /*Плавное увеличение левого отступа. C 24px до 48px при ширине экрана от 768px до 1024px*/
    padding-left: calc(1.5rem + ((1vw - 7.68px) * 9.375));
    /*Плавное увеличение правого отступа. C 24px до 48px при ширине экрана от 768px до 1024px*/
    padding-right: calc(1.5rem + ((1vw - 7.68px) * 9.375));
    padding-top: 28px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding-left: 48px;
    padding-right: 48px;
  }
}
