.lead__title {
  text-align: center;
  margin: 0 auto;
  max-width: 720px;
  font-weight: 900; 
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .lead__title {
    /*Плавное увеличение размера шрифта. C 40px до 96px при ширине экрана от 320px до 768px*/
    font-size: calc(2.5rem + ((1vw - 3.2px) * 12.5));
    /*Плавное увеличение высоты линии. C 44px до 100px при ширине экрана от 320px до 768px*/
    line-height: calc(2.75rem + ((1vw - 3.2px) * 12.5));
  }
}
@media screen and (min-width: 768px) {
  .lead__title {
    font-size: 96px;
    line-height: 100px;
  }
}