@import url(./__title/intro__title.css);
@import url(./__text/intro__text.css);
@import url(./__list/intro__list.css);
@import url(./__list/_numbers/intro__list_numbers.css);

.intro {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .intro {
    padding-top: calc(4rem + ((1vw - 3.2px) * 5.3571));
    max-width: calc(18rem + ((1vw - 3.2px) * 96.4286));
  }
}
@media screen and (min-width: 768px) {
  .intro {
    padding-top: calc(5.5rem + ((1vw - 7.68px) * 1.5625));
    max-width: calc(45rem + ((1vw - 7.68px) * 103.125));
  }
}
@media screen and (min-width: 1024px) {
  .intro {
    padding-top: 92px;
    max-width: 984px;
  }
}