.lead__subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .lead__subtitle {
    /*Плавное увеличение размера шрифта. C 16px до 30px при ширине экрана от 320px до 768px*/
    font-size: calc(1rem + ((1vw - 3.2px) * 3.125));
    /*Плавное увеличение высоты линии. C 20px до 36px при ширине экрана от 320px до 768px*/
    line-height: calc(1.25rem + ((1vw - 3.2px) * 3.5714));
    /*Плавное увеличение максимальной ширины. C 288px до 640px при ширине экрана от 320px до 768px*/
    max-width: calc(18rem + ((1vw - 3.2px) * 78.5714));
    /*Плавное увеличение верхнего отступа. C 16px до 32px при ширине экрана от 320px до 768px*/
    margin-top: calc(1rem + ((1vw - 3.2px) * 3.5714));
  }
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin-top: 32px;
  }
}