.lead__subtitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .lead__subtitle {
    font-size: calc(1rem + ((1vw - 3.2px) * 3.125));
    line-height: calc(1.25rem + ((1vw - 3.2px) * 3.5714));
    max-width: calc(18rem + ((1vw - 3.2px) * 78.5714));
    margin-top: calc(1rem + ((1vw - 3.2px) * 3.5714));
  }
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    font-size: 30px;
    line-height: 36px;
    max-width: 640px;
    margin-top: 32px;
  }
}