.intro__title {
  font-weight: 900;
  margin: 0;
  max-width: 690px;
  min-height: 0vw;
}

@media screen and (min-width: 320px) {
  .intro__title {
    font-size: calc(2rem + ((1vw - 3.2px) * 4.9107));
    line-height: calc(2.1875rem + ((1vw - 3.2px) * 5.1339));
  }
}
@media screen and (min-width: 768px) {
  .intro__title {
    font-size: 54px;
    line-height: 58px;
  }
}